<!DOCTYPE html>
<html>
<head>
	<title>Rapido-Well</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
</head>
<body>

	<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#services">DIAGNOSIS</a></li>
        <li><a href="#contact">PHARMACY</a></li>
        <li><a href="/hospitals">DOCTORS</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#">LOGIN</a></li>
        <li><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
          EXPLORE <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#about">ABOUT US</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#values">VALUES</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#support">SUPPORT </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#services">SERVICES </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#contact">CONTACT US </a>
          <% if(!currentUser){ %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/login">LOGIN</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/register ">SIGN UP</a>
          <%  }else{ %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">LOG OUT</a><div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Signed In As: <%= currentUser.username %></a>
          <% } %> 
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
