<% include partials/header1 %>

<link rel="stylesheet" type="text/css" href="css/index.css">


<!--======================= First Container ================-->
<div class="container-fluid bg-1 text-center" >
  <h3 class="margin">A heritage in care.</h3>
  <img src="/images/p3.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>A reputation in excellence.</h3>
</div>

<!-- ========= end of first Container ============= -->

<!--=================== Container (About Section) ====================-->
<div id="about" class="container-fluid bg-2">
  <div class="row">
    <div class="col-sm-8 container" >
      <h2>About</h2><br>
      <p>At Rapidowell we partner with the patient on their healthcare journey. We provide accurate disease state and therapeutic information, reimbursement guidance, adherence and counselling all in a timely fashion as well as actively involve patients in their treatment among much more. Patient questions are answered by reliable and credible professionals across the country. Not only do patient interactions provide valuable information, we are a direct conduit for program feedback.
	</p>
	<p>
		Rapidowell is a leading healthcare and consulting service provider
	We offer by far the most comprehensive range of services including Pharmacies, Clinic and hospital ,wellness & Rehabitation centers across the state.	
	We are one of the leading healthcare and consultancy provider in the state.
	Rapidowell health care & consultancy is a multi-speciality health consult service provider providing total holistic solutions to all your family’s health requirements.
	Our services are designed to empower individuals to achieve better health outcomes.
	</p>
     <!-- <br><button class="btn btn-default btn-lg">Get in Touch</button> -->
    </div>
    <div class="col-sm-4" id="logo-1">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey bg-5" id="values">
  <div class="row">
    <div class="col-sm-4" id="logo-2">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8 container">
      <h2>Our Values</h2><br>
      <p><strong>VISION:</strong>To be a global centre of excellence in healthcare,consultancy & hospitality service’s provider. </p><br>
      <p><strong>MISSION:- </strong> 
We are committed to serve and provide our patients need first with safest and highest quality care.
We are a corporate entity that is committed to provide excellent health service’s.
We will be the best employer that continuosly builds  our people to develop the organisation and vocation.
</p>
    </div>
  </div>
</div>

<!--=================== end of  Container (About Section) ====================-->
<!--=================== Container (About Section) ====================-->
<div id="support" class="container-fluid bg-4" >
  <div class="row">
    <div class="col-sm-8 container">
      <h2>Patient Support:</h2>
      <p>Our team of healthcare executive both in state and across the country, make positive impacts on the lives of patients every day. we've implemented in healthcare consultancy and operated programs in the following therapeutic areas. by well experienced doctors .
General Physician, Cardiology, Gastroenterology, Orthopaedics, Dermatology, Pulmonology, Ophthalmology, Diabetology, Dental, Nutrition & Lifestyle, Sexology, Gynecology, Pediatrics, Psychology, Ayush.
We utilize various offerings and touch points with the patient, physicians and client:
<ul>
<li>Consult  with specialized doctor  via e-mail ,video chat.</li>
<li>Face-to-Face Support and consultancy by doctors.</li>
<li>Consult with specialized doctor  via conference call  with our team executive.</li>
<li>24×7 callcenter & support in all health issues.</li>
<li>Real-time Communication via Mobile Application</li>
<li>Reimbursement Assistance</li>
<li>Pharmacies Network</li>
</ul>
</p>
     <!-- <br><button class="btn btn-default btn-lg">Get in Touch</button> -->
    </div>
    <div class="col-sm-4" id="logo-1">
      <span class="	glyphicon glyphicon-heart-empty logo"></span>
    </div>
  </div>
</div>


<!-- ============== Container (Services Section) =================== -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4 " >
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>FACILITIES</h4>
      <p>24×7 call center & ..</p>
      <button type="button" class="btn btn-default"><a href="/services/facilities">Read More</a></button>
    </div>
    <div class="col-sm-4 ">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>HEALTH CHECKUP</h4>
      <p>We provide health checkup..</p>
      <button type="button" class="btn btn-default"><a href="/services/total_health_checkup">Read More</a></button>
    </div>
    <div class="col-sm-4 ">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>PREGNANCY CARE</h4>
      <p>During her pregnancy, a women ..</p>
      <button type="button" class="btn btn-default"><a href="/services/total_pregnancy_care">Read More</a></button>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4 ">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>NEW-BORN CARE</h4>
      <p>New born babies require..</p>
      <button type="button" class="btn btn-default"><a href="/services/new_born_care">Read More</a></button>
    </div>
    <div class="col-sm-4 ">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>PHARMACY FACILITY</h4>
      <p>during her pregnancy, a women ..</p>
      <button type="button" class="btn btn-default"><a href="/services/pharmacy_facilities">Read More</a></button>
    </div>
    <div class="col-sm-4" >
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4>MORE DETAILS...</h4>
      <p>Know more about our services..</p>
      <button type="button" class="btn btn-default"><a href="/services">Know More...</a></button>
    </div>
  </div>
</div>
<!--=================== end of  Container (services Section) ====================-->

<!-- ============== Container (contact us Section) =================== -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT US</h2><br>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Kagdipura Road, Vidisha(M.P.)</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 7879909182</p>
      <p><span class="glyphicon glyphicon-envelope"></span> yashkumarchaturvedi@gmail.com</p>
    </div>

  <form action="/" method="POST">
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control"  name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control"  name="contact" placeholder="Contact" type="tel" required>
        </div>
      </div>
      <textarea class="form-control"  name="comment" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </form>

  </div>
</div>
<!--=================== end of  Container (contact us Section) ====================-->

<% include partials/footer1 %>