<% include partials/header1 %>
<div class="jumbotron container" id="login">
<h1>Login</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Submit</button>
</form>
</div>
<% include partials/footer1 %>