<% include partials/header1 %>

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single-feature text-left item-padding">
                        <img src="/assets/images/feature1.png" alt="">
                        <h2>PRENATAL TEST:-</h2>
                        <p class="pt-3">There are certain test which a would – be mother has to undergo to ensure the safety of the fetus . most of the test are common for every expectant where as some are recommended by the doctor . On the basis of age personal or family health history , ethanic background the result of routine test etc.</p>

	                    <div class="col-lg-12 col-sm-12 mt-sm-30 typo-sec">
	                        <h3 class="mb-20 title_color">Some Of The Common Prenatal Test are:-</h3>
	                        <div class="">
	                            <ul class="unordered-list">
	                                <li>Chrionic villus sampling (CVS),first trimester screen amniocentesis and Maternal serum screen (AFP) it help in diagnosis  the high risk of chrosomal disorder like down syndrome and trisomy 18 and neural tube defects such as spinabifida.</li>
	                                <li>Glucose challenge screening and glucose tolerance test help in detecting the risk of gestational diabetes to the pregnant mother and the Baby.</li>
	                                <li>Non stess test (NST) is contucted to track the unborn baby health wheather the body is getting enough oxygen or showing any symptomsof distress.</li>
	                            </ul>
	                        </div>
	                    </div>

	                    <p class="pt-3">Group B streptococcus infection test is taken to check for the bacteria that can causes phelmonia or serious infection in newborn.</p>
	                    <p>image </p>
	                    <p class="pt-3">All these test are very importat to keep a track of your baby healty growth So,make sure you don’t miss any of them.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

<% include partials/footer1 %>