<% include partials/header1 %>


    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services</h1>
                    <a href="index.html">Home</a> <span>|</span> <a href="departments.html">Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Patient Area Starts -->
    <section class="patient-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-patient mb-4">
                        <img src="/assets/images/about-bg.jpg" alt="">
                        <h1>Services</h1>
                        <ul class="unordered-list">
                            <li>24×7 call center & support in all health issues.</li>
                            <li>Consulting of medicine compounding  & their  administration  parameters with  registered pharmacist .</li>
                            <li>Consult with specialized doctor  via conference call  with our team executive.</li>
                            <li>Consult  with specialized doctor  via e-mail ,video chat</li>
                            <li>In comman diseases our team will also suggest regitered pharmacist suggestions and prescription and the patient is also  consulat with pharmacist .</li>
                            <li>We provide  online  medical services for rural and urban  area as per  patient  requirments.</li>
                            <li>We mange  a health  campaign in rural and urban  area  after survey.</li>
                            <li>We manage  a health campaign in rural and urban area after survey and  the  specialist  doctor  team  provides  proper  conulations.</li>
                            <li>We offer facility to the  patient  talk to a doctor from anywhere via callor e-mail but patient firstly  make contact with mrityunjay  team executive because  we firstly  taking the permission to the doctor  for patient.</li>
                            <li>We providing  facilites to the  patient  related to  the patient  related to diagnosis in a call.</li>
                            <li>Nearest “NABL certified” diagnosis laboratory for  examine  exactly.</li>
                            <li>Economical diagnosis  test facility i.e; C.T Scan , M.R.I all type  of  blood  test , urine test endoscopy  ,sonography,digital x-ray etc.</li>
                            <li>Collection  of  test samples  from home.</li>
                            <li>We also  provide preventive  health care  diagnosis  yearly  package @ 3200/-</li>
                            <li>Send your diagnosis report for free examine  at our e-mail or whatsaap-No. 9171618800</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Patient Area Starts -->

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="single-feature text-center item-padding">
                        <img src="/assets/images/feature1.png" alt="">
                        <h3>Health Checkup Packages </h3>
                        <p class="pt-3">Good health is the key to a happy and fruitful life; it is also the most neglected asset. Our lifestyle today is ridden with unnecessary stress, irregular working hours, and poor eating habits, late night partying and inadequate rest. All these coupled with high pollution levels result in physical and psychological health problems. </p>
                        <a href="/services/total_health_checkup" class="genric-btn success circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="/assets/images/feature4.png" alt="">
                        <h3>Medyhelp Card</h3>
                        <p class="pt-3">With Medyhelp card you become a member of Rapidowell healthcare, are able to access a host of medical benefits, and are eligible to be a part of medical awareness drives initiated by Rapidowell health care.<br>A Card For All Your Medical Needs With the Rapidowell card you’re eligible for priority admittance, discounts on diagnostics, investigations, wellness packages & medication , health interactions with experts at Rapidowell health care.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->
    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="/assets/images/feature2.png" alt="">
                        <h3>Pregnancy Care</h3>
                        <p class="pt-3">Giving Birth to a child remains one of the most sacred aspects of a women’s existence. it is an altogether different experience which is like a reincarnation of a mother. Not just a new life but a new herself is born out of her.Well, during her pregnancy, a women needs expert guidance, support and care when she is nurturing another life insider her.</p>
                        <a href="/services/total_pregnancy_care" class="genric-btn success circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="/assets/images/feature3.png" alt="">
                        <h3>Our Pharmacy Facility</h3>
                        <p class="pt-3">Find and buy medicines online with Rapidowell Pharmacy. Browse through prescription medicines, OTC products, health & wellness products on an online pharmacy that provides hassle free service across 100+ cities in India With an extensive catalogue of medicines and healthcare products for online medicine shopping.</p>
                        <a href="/services/pharmacy_facilities" class="genric-btn success circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->
        <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="single-feature text-center item-padding">
                        <img src="/assets/images/feature1.png" alt="">
                        <h3>Health Campaign</h3>
                        <p class="pt-3">A health campaign is a type of media campaign which attempts to promote public health by making new health interventions available. The organizers of a health campaign frequently use education along with an opportunity to participate further, such as when a vaccination campaign seeks both to educate the public about a vaccine and provide the vaccine to people who want it. When a health campaign has international relevance it may be called a global health campaign.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="/assets/images/feature4.png" alt="">
                        <h3>Pre-Natal Test</h3>
                        <p class="pt-3">There are certain test which a would – be mother has to undergo to ensure the safety of the fetus . most of the test are common for every expectant where as some are recommended by the doctor . On the basis of age personal or family health history , ethanic background the result of routine test etc.</p>
                        <a href="/services/pre_natal_test" class="genric-btn success circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

    <!-- Department Area Starts -->
    <section class="department-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>SERVICES</h2>
                        <p>Here are some facilities and services provided by by us.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="department-slider owl-carousel">
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/department1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="#"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Online Pharmacy Facilities</h3>
                                <p>Find and buy medicines online with Rapidowell Pharmacy. Browse through prescription medicines, OTC products, health & wellness products on an online pharmacy that provides hassle free service across 100+ cities in India </p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/news1.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Hospitality Support</h3>
                                <p>You needs to go different cities to meet Doctors and to meet the Doctors you may need to stay a night or more in different cities. so, we provide you facility for staying in a Lodge or Hotels in given cities in reasonable rates and location near your consultancy.</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/department2.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Health Checkup Packages</h3>
                                <p>Good health is the key to a happy and fruitful life; it is also the most neglected asset. Our lifestyle today is ridden with unnecessary stress, irregular working hours, and poor eating habits, late night partying and inadequate rest.</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="assets/images/news2.jpg" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="departments.html"><i class="fa fa-stethoscope"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Pregnancy Care</h3>
                                <p>Well, during her pregnancy, a women needs expert guidance, support and care when she is nurturing another life insider her. This is why she has to be vigilant about choosing the best gynecologist and maternity hospital and we provide that support to her.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Department Area Starts -->



<% include partials/footer1 %>