<% include partials/header1 %>

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single-feature  item-padding">
                        <img src="/assets/images/feature1.png" alt="">
                        <h2>Totla Pregnancy Care</h2>
                        <p class="pt-3">Giving Birth to a child remains one of the most sacred aspects of a women’s existence. it is an altogether different experience which is like a reincarnation of a mother. Not just a new life but a new herself is born out of her.Well, during her pregnancy, a women needs expert guidance, support and care when she is nurturing another life insider her. This is why she has to be vigilant about choosing the best gynecologist and maternity hospital.Here’s  the team of Rapidowell is committed to provide Best Gynecologists & Maternity Hospitals in no particular order.Today, “there are numerous maternity hospitals which makes it difficult for to-be parents to choose which hospital would give the best necessary care & amenities. And that is why, we are here to help you find a solution to your dilemma”</p>

	                    <div class="col-lg-12 col-sm-12 mt-sm-30 typo-sec">
	                        <h3 class="mb-20 title_color">Before choosing the right hospital for you, you may keep the following certain criteria in mind –</h3>
	                        <div class="">
	                            <ol class="unordered-list">
	                                <li>The location – the proximity from home is crucial in cases of emergency.</li>
	                                <li>Facilities provided – the room, amenities & food for the patient & attender.</li>
	                                <li>Overall cost – cost of scans & tests, delivery package & consultation charges.</li>
	                                <li>Experience & personalized pregnancy care to ensure you have a normal & safe delivery.</li>
	                            </ol>
	                        </div>
	                    </div>

	                    <p class="pt-3">From the best gynecologists to the best hospital suites, we know you want what’s best for you & your bundle of joy.So, Our team of best gynecologists & consultants along with specialized Hospital nurses is committed to providing empathetic and caring touch to all health issues related to women.Pregnancy is a curical time period when you have to be careful about your health. Regular prenatal checkups are very important to keep a track  of your and the baby’s health.These regular checkups & tests ensure that both  the mother  and the baby are healthy .it monitors the growth & development of the fetus and keeps you informed about the complication during pregnancy & the delivery  process ,if any.</p>
					    <!-- Feature Area Starts -->
					    <section class="feature-area section-padding">
					        <div class="container">
					            <div class="row">
					                <div class="col-lg-12 col-md-12">
					                    <div class="single-feature text-center item-padding">
					                        <img src="/assets/images/feature3.png" alt="">
					                        <h3>REGULAR CHECK-UPS SCHEDULE:-</h3>
											<h4>Pregnancy (in weeks) checkup plan:-</h4>
											<h5>4th – 28th week (once a month).</h5>
											<h5>28th - 36th week (twice a month).</h5>
											<h5>36th week - to till the labour (weekly).</h5>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </section>
					    <!-- Feature Area End -->
						
                    <div class="col-lg-12 col-sm-12 mt-sm-30 typo-sec">
                        <h3 class="mb-20 title_color">Your first visit to the doctor:-</h3>
                        <div class="">
                            <ul class="unordered-list">
                                <li>It is always better to fix an appointment with a doctor you are already familiar with. it helps in maintaining the level of comfort between you and your doctor .</li>
                                <li>Generally , The first visit  involves lots of interactions your doctor may ask you question regarding your Lifestyle , Relationship Status ,Health ,Habits etc.He/she may also discuss with you about Pregnancy stages , Pregnancy Diet etc.</li>
                                <li> The doctor may conduct some Physical examination & test like Breast examination , Pelvic examination ,Cervical examination Blood test ,PAP Test etc.</li>
                                <li>Ultra sound and Urine test are also conducted to check on if there is any sign of health problem in baby or would be mother . Doctor may also check your blood pressure, weight and calculate your pregnancy due  date.</li>
                                <li>The subsequent prenatal checkups may include measuring “Abdomen” to check baby’s growth , check Baby Heart rate etc.You may also go through some test throught pregnancy to check on your Baby’s healthy growth & development.</li>
                                <li>Make Myspace Your Best Designed Space</li>
                                <li>Cleaning And Organizing Your Computer</li>
                            </ul>
                        </div>
                    </div>
	                   	<p class="pt-3"><h3></h3>
	                   		<br><br><br><br></p>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

<% include partials/footer1 %>