<% include partials/header1 %>

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single-feature text-left item-padding">
                        <img src="/assets/images/feature1.png" alt="">
                        <h2>Health Checkup Packages </h2>
                        <p class="pt-3">Good health is the key to a happy and fruitful life; it is also the most neglected asset. Our lifestyle today is ridden with unnecessary stress, irregular working hours, and poor eating habits, late night partying and inadequate rest. All these coupled with high pollution levels result in physical and psychological health problems. </p>
                        <p>People tend to ignore their health until faced with medical complications. Health problems can be managed more effectively if detected at an early stage. Hence, health monitors have become the need of the hour. This is where the health checkups facility is provided by(Supporting Diagnosis laboratory center of Rapidowell health care).</p>
                        <p><h4>Collaborating  laboratories</h4>We shall be collaborating with NABL certified laboratories for providing various health facilities and proper evaluation of the health of our customers.We offer several preventive health check packages to suit specific needs. We do make customized packages for corporate and insurance companies based on individual requirements. The aim of these packages is to promote good health, prevent disease and facilitate early diagnosis and treatment, thereby paving the way to “WELLNESS”.</p>
                        <p>

	                    <div class="col-lg-12 col-sm-12 mt-sm-30 typo-sec">
	                        <h3 class="mb-20 title_color">Health Checkup Packages:</h3>
	                        <div class="">
	                            <ul class="unordered-list">
	                                <li>Cancer ScreeningPacakage(Female)<a href="/services">  Know More...</a></li>
	                                <li>Cancer Screening Pacakage(Male)<a href="/services">  Know More...</a></li>
	                                <li>Sugam Test package (Regular)<a href="/services">  Know More...</a></li>
	                                <li>Sugam Premium package(Basic Package)<a href="/services">  Know More...</a></li>
	                                <li>Complete Check-up Package Female (Special F1)<a href="/services">  Know More...</a></li>
	                                <li>Complete Check-up Package Male (Special M1)<a href="/services">  Know More...</a></li>
	                                <li>Diabetes Package<a href="/services">  Know More...</a></li>
	                                <li>Rapidowell Health Check-Up Package (Cardiac Screening Package)<a href="/services">  Know More...</a></li>
	                                <li>Rapidowell Health Check-Up Package (Cardiac WellnessPackage)<a href="/services">  Know More...</a></li>
	                                <li>Rapidowell Health Check-Up Package (Comprehensive package Male)<a href="/services">  Know More...</a></li>
	                                <li>Rapidowell Health Check-Up Package (Comprehensive package Female)<a href="/services">  Know More...</a></li>
	                                <li>Obesity Health Check Package Comprehensive <a href="/services">  Know More...</a></li>
	                                <li>Arogya total parikshan Package (Female)<a href="/services">  Know More...</a></li>
	                                <li>Arogya total parikshan Package (Male)<a href="/services">  Know More...</a></li>
	                                <li>Arogya Sukh total parikshan Package (Female)<a href="/services">  Know More...</a></li>
	                                <li>Arogya Sukh total parikshan Package (Male)<a href="/services">  Know More...</a></li>
	                                <li>Jeevan Aadhar the “Pediatrics Package”<a href="/services">  Know More...</a></li>
	                                <li>Renal Health Package<a href="/services">  Know More...</a></li>
	                                <li>Amulya “The Mom’s care Package”<a href="/services">  Know More...</a></li>
	                                <li>Stay Fit “The Women care Package”<a href="/services">  Know More...</a></li>
	                                <li>(Senior Citizen Package Female)<a href="/services">  Know More...</a></li>
	                                <li>(Senior Citizen Package - Male)<a href="/services">  Know More...</a></li>
	                            </ul>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

<% include partials/footer1 %>