body{
  text-align: center;
  /*padding: 70px;*/
  line-height: 50px;
}

.form{
  /*padding: 80px;*/
  background-color: #1abc9c;
  color: #474e5d;
}

#login{
	background-color: #474e5d;
	color: #ffffff;
}

#new_hospital{
	text-align: center;
	color: #ffffff;
	width: 70%;
	background-color: #474e5d;
}
#new_medical{
	text-align: center;
	color: #ffffff;
	width: 70%;
	background-color: #474e5d;	
}